build/
installer/

# Ignore local database and logs
*.db
*.sqlite
logs/

# Ignore Python environment and cache
__pycache__/
*.pyc
.venv/
env/
.env
.python-version

# Ignore Git
.git
.gitignore

# Ignore build artifacts
dist/
node_modules/
